<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>
          <ion-menu-button></ion-menu-button>
          <ion-back-button></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title>Mostra Usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card class="ion-padding" style="text-align:'center'">
    <ion-card-title>Usuário</ion-card-title>
    <ion-card><h3>Nome</h3>{{nome}}</ion-card>
    <ion-card><h3>Usuário</h3>{{usuario}}</ion-card>
    <ion-card><h3>Nível</h3>{{nivel}}</ion-card>
  </ion-card>

</ion-content>
