<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>
          <ion-menu-button></ion-menu-button>
          <ion-back-button></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title>Mostra Evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card class="ion-padding" style="text-align:'center'">
    <ion-card-title>Evento</ion-card-title>
    <ion-card><h3>Nome</h3>{{nome}}</ion-card>
    <ion-card><h3>Data</h3>{{data}}</ion-card>
    <ion-card><h3>Capacidade</h3>{{capacidade}}</ion-card>
    <ion-card><h3>Usuário</h3>{{usuario_id}}</ion-card>
  </ion-card>

</ion-content>
